.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll ;
}

.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: visible;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
   
    
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;

    background-color: $background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    padding: 40px;

    @media screen and (max-width:479px) {
        width: 93.75%;
        min-height: 609px;
    }

    @media screen and (min-width:480px) and (max-width:1199px) {
        width: 455px;
        height: 609px;
    }

    @media screen and (min-width:1200px) {
        width: 528px;
        height: 581px;
    }
}