.footer {
    background-color: #2f303a;
    padding: 60px 0;

}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
 }

.footer-contact {
    margin-right: 70px;
}