.footer {
    background-color: #2f303a;
    // padding: 60px 0;

    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    

}

.footer-container {
    // display: flex;
    // flex-direction: row;
    // align-items: baseline;
    // justify-content: center;

    align-items: center;
    justify-content: center;

    text-align: center;

    @media screen and (min-width:1200px) {
        display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
        
    }
 }

.footer-contact {
    @media  screen and (max-width:767px) {
    
    margin-bottom: 60px;
    }
    // padding-top: 60px;
    // padding-bottom: 60px;

    @media screen and (min-width:768px) {
        text-align: center;
    }

    @media screen and (min-width:1200px) {
        margin-right: 70px;
    }
    // margin-right: 70px;

    
   
}

.footer-contact__list {
    text-align: center;
    padding: 0;
}

.footer__768-wrapper {

    @media screen and (min-width:768px)  {
        align-items: baseline;
        display: flex;
            justify-content: space-between;
            
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        padding-left: 76px;
        padding-right: 89px;
    }
    
    @media screen and (max-width:1199px) {
        
        margin-bottom: 60px;
    }
}